main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #C47F17;
    
}

p {
    color: #403937;
    width: 584px;
    height: 52px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

button {
   background-color: #54857B;
    color: white;
    width: 390px;
    height: 54px;
    border-radius: 100px;
    padding: 16px 0px 16px 0px;
    gap: 4px;
}